/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 */

html {
  -webkit-text-size-adjust: 100%;
  /* 1 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  /* 1 */
  font-size: 1em;
  font-family: monospace, monospace;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  /* 2 */
  -webkit-text-decoration: underline dotted;
  /* 1 */
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  /* 1 */
  font-size: 1em;
  font-family: monospace, monospace;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  /* 1 */
  margin: 0;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  font-family: inherit;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  /* 2 */
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 1 */
  color: inherit;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  /* 1 */
  outline-offset: -2px;
  -webkit-appearance: textfield;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  /* 1 */
  font: inherit;
  -webkit-appearance: button;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background: #101114;
}

h1 {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

label {
  display: block;
  margin: 0 0 11px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

button,
input,
select {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover {
  outline: none;
}

select {
  background: url(../img/arrow.svg) no-repeat 90% center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 39px;
  margin: 0 0 23px;
  padding: 0 14px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #cacaca;
}

input[type="text"].has-error,
input[type="number"].has-error {
  color: red;
  border-color: red;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

select {
  width: 100%;
  height: 39px;
  margin: 0 0 23px;
  padding: 0 14px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

select:focus {
  border-color: #cacaca;
}

select.has-error {
  color: red;
  border-color: red;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 36px;
  padding: 0 10px;
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: #f0f0f0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #d7d7d7;
}

.btn:active {
  background: #cacaca;
}

.btn-purple {
  color: #ffffff;
  background: #4253ff;
}

.btn-purple:hover {
  background: #293cff;
}

.btn-purple:active {
  background: #192eff;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 620px;
}

.box-left {
  min-width: 230px;
  padding: 33px 0 46px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.box-right {
  padding: 37px 34px 34px;
  background: #ffffff;
}

.box .btn-purple {
  width: 100%;
  height: 45px;
  margin: 12px 0 0;
}

.box nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.box table {
  width: 100%;
  margin: 0 0 26px;
  line-height: 18px;
}

.box td:first-child {
  width: 154px;
  color: #959595;
}

.box td:last-child {
  font-weight: 500;
}

.menu {
  margin: 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.menu-show {
  display: none;
  margin: 0 0 12px;
}

.menu-close {
  display: none;
  margin: 0 12px 6px auto;
  background: rgba(255, 255, 255, 0.1);
}

.menu-close:hover,
.menu-close:active {
  background: rgba(255, 255, 255, 0.1);
}

.menu li {
  margin: 0 0 1px;
}

.menu a {
  display: block;
  padding: 10px 18px 10px 32px;
  color: #959595;
  text-decoration: none;
}

.menu a:hover {
  color: #ffffff;
}

.menu a.active {
  color: #ffffff;
  background: #101114;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}

.logo {
  display: block;
  margin: 32px 0 0 32px;
}

.card-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-number input {
  max-width: 70px;
  margin-right: 14px;
}

.card-number input:last-child {
  margin-right: 0;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-info label {
  width: 100%;
}

.card-info select,
.card-info input {
  max-width: 70px;
  margin-right: 14px;
}

.card-info select:last-child,
.card-info input:last-child {
  margin-right: 0;
}

.card-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  body {
    background: #ffffff;
  }

  input[type="text"],
  input[type="number"] {
    padding: 0 10px;
  }

  select {
    padding: 0 10px;
  }

  .content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .box-left {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 90%;
    max-width: 320px;
    padding: 12px 0 24px;
    overflow: auto;
    background: #1c1d20;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
  }

  .box-right {
    padding: 24px;
  }

  .menu-open {
    overflow: hidden;
  }

  .menu-open .box-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .menu-open .box-left ~ .backdrop {
    display: block;
  }

  .menu-show {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .menu-close {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}