.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    
    @media(max-width: $mobile-width){
        align-items: flex-start;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    font-weight: 900;
    border-radius: 5px;
    border: 0;
    letter-spacing: .75px;
    cursor: pointer;
    padding: 0 10px;
    background: $gray100-color;
        
    &:hover {
        background: darken($gray100-color, 10%);
    }

    &:active {
        background: darken($gray100-color, 15%);
    }
    
    &-purple {
        background: $action-color;
        color: #fff;
        
        &:hover {
            background: darken($action-color, 5%);
        }

        &:active {
            background: darken($action-color, 8%);
        }
    }
}

.box {
    display: flex;
    max-width: 620px;
    
    &-left {
        min-width: 230px;
        background: rgba(255, 255, 255, .05);
        padding: 33px 0 46px;
        transition: all 0.4s ease-in-out;
        
        @media(max-width: $mobile-width){
            background: #1c1d20;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 12px 0 24px;
            width: 90%;
            max-width: 320px;
            transform: translateX(-105%);
            overflow: auto;
        }
    }
    
    &-right {
        background: #fff;
        padding: 37px 34px 34px;
        
        @media(max-width: $mobile-width){
            padding: 24px;
        }
    }
    
    .btn {
        &-purple {
            height: 45px;
            width: 100%;
            margin: 12px 0 0;
        }
    }
    
    nav {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    table {
        width: 100%;
        line-height: 18px;
        margin: 0 0 26px;
    }
    
    td {
        &:first-child {
            color: $gray500-color;
            width: 154px;
        }
        
        &:last-child {
            font-weight: 500;
        }
    }
    
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 auto;
    
    &-open {
        @media(max-width: $mobile-width){
            overflow: hidden;
            
            .box-left {
                transform: translateX(0);
                
                &~ .backdrop {
                    display: block;
                }
            }
        }
    }
    
    &-show {
        display: none;
        margin: 0 0 12px;
        
        @media(max-width: $mobile-width){
            display: inline-flex;
        }
    }
    
    &-close {
        display: none;
        margin: 0 12px 6px auto;
        background: rgba(255, 255, 255, .1);
        
        &:hover, &:active {
            background: rgba(255, 255, 255, .1);
        }
        
        @media(max-width: $mobile-width){
            display: inline-flex;
        }
    }
    
    li {
        margin: 0 0 1px
    }
    
    a {
        display: block;
        padding: 10px 18px 10px 32px;
        color: $gray500-color;
        text-decoration: none;
        
        &:hover {
            color: #fff;
        }
        
        &.active {
            background: $bg-color;
            color: #fff;
        }
    }
}

.backdrop {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
}

.logo {
    display: block;
    margin: 32px 0 0 32px;
}

.card {
    &-number {
        display: flex;
        
        input {
            max-width: 70px;
            margin-right: 14px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    &-info {
        display: flex;
        justify-content: space-between;
        
        label {
            width: 100%;
        }
        
        select, input {
            max-width: 70px;
            margin-right: 14px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    &-date {
        display: flex;
        flex-wrap: wrap;
    }
}