@import "variable", "normalize";


*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background: $bg-color;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    @media(max-width: $mobile-width){
        background: #fff;
    }
}
    
h1 {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    margin: 0 0 23px;
}

a {
    transition: all 0.2s ease-in-out;
}

label {
    display: block;
    margin: 0 0 11px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

button, input, select {
    transition: all 0.2s ease-in-out;
    
    &:focus, &:hover {
        outline: none;
    }
}

@mixin input-style {
    border: 1px solid $gray100-color;
    height: 39px;
    padding: 0 14px;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 23px;
    background-color: $gray100-color;
    
    @media(max-width: $mobile-width){
        padding: 0 10px;
    }

    &:focus {
        border-color: darken($gray100-color, 15%)
    }

    &.has-error {
        border-color: $red-color;
        color: $red-color;
    }
}

select {
    background: url(../img/arrow.svg) no-repeat 90% center;
    appearance: none;
    cursor: pointer;
}

input {
    &[type="text"], &[type="number"] {
        @include input-style;
    }
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

select {
    @include input-style;
}

@import "page";